<%= form_for(current_user.active_relations.build(folld_id: @user.id), remote: true) do |f| %>
  <div><%= hidden_field_tag :folld_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>